@import "tailwindcss";

/* ================= PRINT FIX ================= */

@media print {
  body * {
    visibility: hidden;
  }

  #print-invoice,
  #print-invoice * {
    visibility: visible;
  }

  #print-invoice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  table,
  tr,
  td {
    page-break-inside: avoid;
  }
}

