@import "tailwindcss";

/* ================= PRINT FIX ================= */

/* ================== PRINT ONLY INVOICE ================== */

@page {
  size: A4;
  margin: 10mm;
}

@media print {
  html, body {
    margin: 0;
    padding: 0;
  }

  body * {
    visibility: hidden !important;
  }

  #print-invoice,
  #print-invoice * {
    visibility: visible !important;
  }

  #print-invoice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  table, tr, td {
    page-break-inside: avoid;
  }
}

